* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

:root {
    --main: #04aa6d;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}


/* ! SCROLLBAR */


/* width */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}


/* ! MENU */

aside {
    width: 250px;
    height: 100vh;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: white;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    z-index: 4;
    /* float: left; */
    /* box-shadow: 0 6px 40px 0 rgb(0 0 0 / 10%); */
}

aside div#logo {
    width: 100%;
    height: 150px;
    background: var(--main);
    position: relative;
}

aside div#logo h1 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    letter-spacing: 1px;
    text-align: center;
}

aside div#menuOptions a {
    color: black;
    text-decoration: none;
}

aside div#menuOptions span {
    position: relative;
    width: 80%;
    display: inline-block;
    padding: 10%;
}


/* ! SECTION */

body section {
    width: calc(100% - 350px);
    padding: 50px;
    min-height: 200vh;
    background: white;
    float: left;
    position: relative;
    /* top: 0; */
    /* right: 0; */
}

body section div#subMenu {
    width: 100%;
    height: 100px;
    background: white;
    z-index: 3;
    display: block;
    position: relative;
}

body section div#innerTable {
    width: 100%;
    height: auto;
    background: white;
    /* margin-top: 100px; */
    position: relative;
}

div#innerTable::before {
    content: "";
    position: fixed;
    left: 0;
    width: 100%;
    height: 51px;
    top: 0;
    background: white;
    z-index: 1;
}


/* ! TABLES */

td,
th {
    border: 1px solid #ddd;
    padding: 6px;
    position: relative;
}

table tbody tr:nth-child(1) {
    position: sticky;
    top: 50px;
    z-index: 10;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--main);
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9fb;
}

tr:hover {
    background-color: rgb(245, 245, 245);
}


/* BUTTONS */

button {
    border: 1px solid var(--main);
    background: white;
    border-radius: 0px;
    color: var(--main);
    padding: 7px 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    font-size: 18px;
}

button:hover {
    background: var(--main) !important;
    color: white;
}


/* INPUTS */

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    appearance: none;
    cursor: pointer;
    border: none;
}

input[type="checkbox"]::before {
    content: "";
    border: 1px solid var(--main);
    height: 25px;
    width: 25px;
    position: absolute;
    background: transparent;
    transform: translate(-50%, -50);
    top: 0;
    left: 0;
    z-index: -1;
}

input[type="checkbox"]:checked:before {
    content: "✔";
    color: white;
    text-align: center;
    line-height: 25px;
    background-color: var(--main);
}

select {
    outline: none;
    border: 1px solid #bbb;
    font-size: 16px;
    padding: 6px 12px;
    max-width: 100%;
    width: 100%;
}

td button {
    width: 100%;
    margin: 5px 0px;
}

form {
    padding: 10px;
}

.exit {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}


/* POP UP BLOCKS */

.PopUpBlock {
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    width: 102vw;
    height: 102vh;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.PopUpBlock form {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    width: 60vw;
    height: 60vh;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 40px 0 rgb(0 0 0 / 10%);
    padding: 0;
}

.PopUpBlock form content {
    overflow-y: scroll;
    padding: 10px;
    width: 100%;
    height: calc(100% - 70px);
    box-sizing: border-box;
    display: block;
}

.PopUpBlock form h1 {
    background: var(--main);
    display: block;
    color: white;
    height: 70px;
    line-height: 75px;
    width: calc(100% - 70px);
    padding-left: 70px;
    /* cursor: grab; */
    user-select: none;
}

.PopUpBlock form h1 img.icon {
    position: absolute;
    height: 40px;
    margin-top: 15px;
    /* background: white; */
    color: white;
    filter: invert(1);
    top: 0px;
    left: 15px;
}

.PopUpBlock form button {
    position: absolute;
    right: 20px;
    bottom: 10px;
    background: white;
}

#dostawa tbody tr:nth-child(1) {
    top: 0px;
}

#magazyn tbody tr:nth-child(1) {
    top: 0px;
}

div#contrib {
    position: absolute;
    bottom: 0;
    padding: 20px;
}